---
layout: default
---

{% if site.project.size > 0 %}
<ul class='project'>
  {% for post in site.project %}
  <li class='project__item'>
    <time class='project__date' datetime='{{ project.date | date_to_xmlschema }}'>
      {% assign date_format = site.date_format | default: '%b %-d, %Y' %}
      {{ project.date | date: date_format }}
    </time>
    <div class='project__title'>
      <a class='project__link' href='{{ project.url | relative_url }}'>
        {{ project.title | escape }}
      </a>
    </div>
  </li>
  {% endfor %}
</ul>
{% endif %}
